.page-footer {
    background: $dark-color;
    padding: 15px 0;

    .container {
        display: flex;
        justify-content: space-between;
    }

    span, a {
        color: #fff;
        font-size: 14px;
    }

    a {
        text-decoration: none;
    }
}