.collection-post {
    background: #fff;
    line-height: 0;
}

.post-show {
    display: inline-block;
    cursor: pointer;

    &:hover {
        .post-metadata {
            opacity: 1;
        }

        .post-photo {
            opacity: 0.4;
        }    
    }
}

.post-photo {
    max-width: 100%;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.post-metadata {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 1;
    width: 100%;
    text-align: center;
    font-weight: 700;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.post-author {
    display: block;
    font-size: 20px;
    line-height: 32px;
}

.post-date {
    display: block;
    font-size: 16px;
    line-height: 24px;
}

.post-manage {
    display: flex;
    align-items: center;
    width: 100%;
}

.post-edit, .post-delete {
    width: 50%;
    text-align: center;
    background: $dark-color;
    padding: 7px 0;
    transition: background-color 0.2s;
    line-height: 1;
    color: #fff;

    &:hover {
        background-color: lighten($dark-color, 10%);
    }
}

.post-edit {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border-right: 1px solid #fff;
}

.post-delete {
    cursor: pointer;
    border: none;
    border-left: 1px solid #fff;
}