.messages {
    list-style: none;
    margin: 0;
    padding: 0;

    .icon-close {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.message {
    padding: 15px 5%;
    font-size: 18px;
    position: relative;

    @include modifier('info') {
        background: rgba($info, .9);
    }

    @include modifier('success') {
        background: rgba($success, .9);
    }

    @include modifier('error') {
        background: rgba($error, .9);
    }
}

