.messages {
    list-style: none;
    margin: 0;
    padding: 0;

    .icon-close {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}

.message {
    padding: 15px 5%;
    font-size: 18px;
    position: relative;

    &--info {
        background: rgba(#6d87f9, .9);
    }

    &--success {
        background: rgba(#72f75b, .9);
    }

    &--error {
        background: rgba(#ff4c4c, .9);
    }
}
