// Colors
$main-color: #df2080;
$dark-color: #393536;
$light-color: #e6e6e6;
$white: #fff;
$info: #6d87f9;
$success: #72f75b;
$error: #ff4c4c;

// Breakpoints
$breakpoints: (
  'sm':  481px,
  'md': 769px,
  'lg':  1200px
) !default;
