{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='../../static/js/confirm_delete.js'></script>
    <script src='../../static/js/post_detail.js'></script>
    <script src='../../static/js/manage_post.js'></script>
    {% block extra_css %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}

<link href="https://fonts.googleapis.com/css?family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <title>Mirabile</title>
</head>
<body>
    <header class='page-header'>
        <span class='header-logo'>Mirabile</span>
        <div class='header-link dropdown-menu'>
            <button class="header dropdown-button">Key</button>
            <div class="dropdown-content" hidden>
                <a href='#' class='link-logn'>Zaloguj się</a>
                <a href='#' class='link-register'>Zarejestruj się</a>
            </div>
        </div>
    </header>
    <div class="page-content">
    {% block content %}
    {% endblock %}
    </div>
    <footer class='page-footer'>
        &copy Copyright 2019
    </footer>
    <div class="modal-content confirm-delete" style="display: none">
        <form action='.' method='POST'>{% csrf_token %}
            <p>Czy na pewno chcesz usunąć zdjęcie?</p>
            <img src=''>
            <input class='modal-confirm' type='submit' value='Tak'>
            <button class='modal-cancel' type='button'>Anuluj</button>
        </form>
    </div>
    <div class="modal-content post-detail" style="display: none">
        <img class='detail-photo' src=''>
        <div>
            <h2 class='detail-title'>Tytuł</h2>
            <span class='detail-author'>Autor</span>
            <span class='detail-date'>Data</span>
        </div>
        <button class='detail-close'>Close</button>
    </div>
</body>
</html>

{% block static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/normalize.css' %}">
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}