{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../../static/dist/modal.min.js"></script>
    <link href="../../static/dist/style.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Leckerli+One&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel='shortcut icon' type='image/x-icon' href='../../static/images/favicon.ico' />
    {% block extra_css %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
    <title>Mirabile</title>
</head>
<body>
    <header class='page-header'>
        <div class='container'>
            <a class='header-logo' href='{% url "collection" %}'>Mirabile</a>
            <div>
            {% if user.is_authenticated %}
                <a href='{% url "collection" pk=user.id %}'>
                    <i class='header-icon icon-user-fill'></i>
                </a>
                <a href='{% url "logout" %}'>
                    <i class='header-icon icon-logout'></i>
                </a>
            {% else %}
                <a href='{% url "login" %}'>
                    <i class='header-icon icon-login'></i>
                </a>
                <a href='{% url "login" %}'>
                    <i class='header-icon icon-registration' ></i>
                </a>
            {% endif %}
            </div>
        </div>
    </header>
    <div class="page-content">
    {% block content %}
    {% endblock %}
    </div>
    <footer class='page-footer'>
        <div class="container">
            <span>&copy Copyright 2019</span>
            <a href="mailto:aneta.rolnik@gmail.com">Design: A&J</a>
        </div>
    </footer>
    <div class="modal-content confirm-delete" style="display: none">
        <form action='.' method='POST'>{% csrf_token %}
            <p>Czy na pewno chcesz usunąć zdjęcie?</p>
            <img src=''>
            <input class='modal-confirm' type='submit' value='Tak'>
            <button class='modal-cancel' type='button'>Anuluj</button>
        </form>
    </div>
    <div class="modal-content post-detail" style="display: none">
        <img class='detail-photo' src=''>
        <div>
            <h2 class='detail-title'>Tytuł</h2>
            <span class='detail-author'>Autor</span>
            <span class='detail-date'>Data</span>
        </div>
        <button class='detail-close'>Close</button>
    </div>
</body>
</html>