{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src='../../static/js/confirm_delete.js'></script>
    <script src='../../static/js/post_detail.js'></script>
    {% block extra_css %}
    {% endblock %}
    {% block extra_js %}
    {% endblock %}
    <title>Mirabile</title>
</head>
<body>
    <header class='page-header'>
        <span class='header-logo'>Mirabile</span>
        <div class='header-link'>
            <a href='#' class='link-logn'>Zaloguj się</a>
            <a href='#' class='link-register'>Zarejestruj się</a>
        </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer class='page-footer'>
        &copy Copyright 2019
    </footer>
    <div class="modal-content confirm-delete" style="display: none">
        <form action='.' method='POST'>{% csrf_token %}
            <p>Czy na pewno chcesz usunąć zdjęcie?</p>
            <img src=''>
            <input class='modal-confirm' type='submit' value='Tak'>
            <button class='modal-cancel' type='button'>Anuluj</button>
        </form>
    </div>
    <div class="modal-content post-detail" style="display: none">
        <img class='detail-photo' src=''>
        <div>
            <h2 class='detail-title'>Tytuł</h2>
            <span class='detail-author'>Autor</span>
            <span class='detail-date'>Data</span>
        </div>
        <button class='detail-close'>Close</button>
    </div>
</body>
</html>