{% extends 'blog/base.html' %}

{% block content %}
    {% if is_author %}
        <a class='collection-new'>Dodaj nowe zdjęcie</a>
        {% for post in posts %}
            <div class='collection-post'>
                <span class='post-author'>{{ post.author }}</span>
                <span class='post-date'>{{  post.published_date }}</span>
                <img class='post-photo' src='{{ post.photo.url }}'>
                <a class='post-edit'>Edytuj zdjęcie</a>
                <button class='post-delete' data-url='{% url "post_delete" pk=post.author.id id=post.id %}'>Usuń zdjęcie</button>
            </div>
            {% empty %}
            <p class='collection-empty'>Dodaj swoje zdjęcia i pokaż innym co u Ciebie</p>
        {% endfor %}
    {% else %}
        {% for post in posts %}
            <div class='collection-post'>
                <span class='post-author'>{{ post.author }}</span>
                <span class='post-date'>{{  post.published_date }}</span>
                <img class='post-photo' src='{{ post.photo.url }}'>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}