{% extends 'blog/base.html' %}

{% block extra_css %}
    {{ form.media.css }}
{% endblock %}

{% block extra_js %}
    {{ form.media.js }}
    <script src="../../static/dist/form.min.js"></script>
{% endblock %}

{% block content %}
    <div class="post-new">
        <div class="container">
            <h2>Dodaj nowy post i pokaż innym co u Ciebie</h2>
            <form method="POST" class="post-new-form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="post-new-field {{field.name}}">
                        <label class="post-new-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.name == 'photo' %}
                            <img id="file" src="#" alt="Podgląd zdjęcia" class="photo_empty"/>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="form-save">Dodaj post</button>
            </form>
        </div>
    </div>
{% endblock %}